#-----------------------------------------------------------------------------------------------------
# THIS IS AN EXAMPLE OF .ENV FILE. DO NOT COMMIT THIS FILE TO VERSION CONTROL. 
# Create a .env file in the root of the project and fill in the values for the environment variables.

# DO THIS:
# 1. Create a .env file FOR YOUR MACHINE ONLY. COMMAND: .env.example .env
# 2. Fill in the values for the environment variables in the .env file. NOT .env.example!
#-----------------------------------------------------------------------------------------------------

# Environment variables

# FIREBASE configuration for the app.
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=